body {
  margin: 0;
  color: #202020;
  font-family: sans-serif;
  background: rgb(253, 244, 184);
  background: linear-gradient(
    139deg,
    rgba(253, 244, 184, 1) 11%,
    rgba(244, 180, 240, 1) 78%
  );
}
.navbar {
  background-color: rgb(238, 121, 117);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}
.navbar a {
  display: block;
  color: #202020;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #dd554c;
}

.page-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.page-one h1 {
  letter-spacing: 5px;
  font-size: 48px;
}

.page-one p {
  letter-spacing: 2px;
}

.card-image {
  width: 50%;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-btn {
  background-color: rgb(238, 121, 117);
  border: none;
  color: white;
  padding: 12px 68px;
  font-size: 16px;
}

.page-one-content {
  width: 40%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.page-one-content h1 {
  margin: 0;
}

.page-two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.small-image {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.large-image {
  width: 250px;
  height: 424px;
  object-fit: cover;
}

.dark-background {
  background-color: rgb(238, 121, 117);
  padding: 0 32px;
}

.dark-background h1 {
  font-size: 48px;
}

@media screen and (max-width: 600px) {
  .navbar {
    justify-content: flex-end;
    padding-right: 18px;
  }

  .navbar a,
  .navbar-right {
    float: none;
    display: block;
    text-align: center;
    padding: 8px;
    font-size: 28px;
  }

  .navbar a:not(.navbar-right) {
    display: none;
  }

  .page-one {
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    height: auto;
  }

  .page-one h1 {
    font-size: 40px;
  }

  .page-one-content {
    padding: 0;
    width: 100%;
  }

  .card-image {
    width: 100%;
    height: 500px;
  }

  .action-btn {
    width: 100%;
  }

  .page-two {
    flex-direction: column;
    padding: 0 20px 20px 20px;
    height: auto;
  }

  .page-two h1 {
    font-size: 30px;
  }

  .card-container {
    width: 100%;
  }

  .small-image {
    width: 100%;
  }

  .large-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .dark-background {
    padding: 0 36px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    height: 100%;
  }

  .navbar {
    justify-content: flex-end;
    padding-right: 18px;
  }

  .navbar a,
  .navbar-right {
    float: none;
    display: block;
    text-align: center;
    padding: 8px;
    font-size: 52px;
  }

  .navbar a:not(.navbar-right) {
    display: none;
  }

  .page-one {
    height: 100%;
    flex-direction: column;
    padding: 50px 50px 0 50px;
  }

  .page-one-content {
    padding: 0;
    width: 100%;
  }

  .page-two {
    height: 100%;
    padding: 24px 50px 50px 50px;
    flex-direction: column;
  }

  .card-image {
    width: 100%;
    padding-top: 50px;
  }

  .card-container {
    width: 100%;
  }

  .small-image {
    width: 100%;
    height: 50vh;
  }

  .large-image {
    width: 100%;
    height: 100vh;
  }

  .dark-background {
    width: -webkit-fill-available;
  }
}
